#headerNavigation {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    #headerNavigation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #navigation.nav {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    #navigation.nav a {
      display: block;
      margin-bottom: 10px;
    }
  }

#navigation a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

#navigation a:hover {
    border-bottom: 3px solid blue;
}

#navigation a.active {
    border-bottom: 3px solid blue;
}

#headerNavigation a img {
    width: 75px;
    height: auto;
}

#navigation {
    display: flex;
    gap: 10px;
}


#headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#subtitle {
    color: #7498C2
}

#callUs {
    gap: 35px;
}

#article {
    flex-basis: 50%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: block;
    margin-left: auto;
    margin-right: auto  ;
    width: 90%;
    height: auto;
    
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.form {
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

input {
    width: 100%;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

#dropdown {
    width: 100%;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

button {
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

button:hover {
    background: #78788c;
    color: #fff
}
